/* Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Gotu', sans-serif;
    --ff-secondary: 'Goto', monospace;

    --fw-regular: 300;
    --fw-bold: 600;

    --color-light: #fff;
    --color-dark: #303030;
    --color-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-text: 1.1rem;
}


@media (min-width: 400px) {
    :root {
        --fs-h1: 4rem;
        --gs-h2: 1.5rem;
        --fs-text: 1.2rem;
    }
}

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    color: var(--color-dark);
    line-height: 1.6;
    text-align: center;
}

h1 {
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
}

h2 {
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
}

time {
    font-weight: var(--fw-bold);
    font-size: var(--fs-text);
}

p {
    font-weight: var(--fw-regular);
    font-size: var(--fs-text);
}

a {
    text-decoration: none;
    font-weight: var(--fw-regular);
    font-size: var(--fs-text);
    color: #477ca7;
}

a:hover {
    color: crimson;
}


#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}

@media (max-width: 460px) {
    #main {
        margin: 0;
    }
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}

#img-caption {
    margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
    #img-caption {
        font-size: 1.4rem;
    }
}

#headline {
    margin: 50px 0;
    text-align: center;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li {
    margin: 16px 0;
    text-align: justify;
}

.legend {
    margin: 20px 20% 20px 20%;
    line-height: 1.6;
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}